// VARIABLES

// COLOR
$black: #000000;
$grey: #999ca9;
$white: #FFFFFF;
$pink: #E7816B;
$red: #f00020;

// FONTS
$bold: "Roboto-Bold";
$light: "Roboto-Light";
$medium: "Roboto-Medium";
$regular: "Roboto-Regular";
$shadow-text: 1px 1px 1px #999ca9;

// BTN
$btn-padding: 10px 10px;
$shadow: 3px 3px 5px black;
$radius: 15px;

