#contact{
    background-color: $black;
    height: 20vh;
    .contacts{
        background-color: $pink;
        border-radius: $radius;
        box-shadow: $shadow;
        height: 30vh;
        transform: translateY(-40%);   
    }
    .contact-article{
        padding: 1.5rem 4rem;
        text-shadow: $shadow-text;
        h3{
            width: 50%;
        }
        p{
            width: 80%;
        }
    }
    .btn{
        box-shadow: $shadow;
        background-color: $white;
        display: inline-block;
        position: absolute;
        margin-top: 6%;
        margin-left: 7%;
    }

}