#navfooter{
    background-color: $black;
    
    a{
        color: $white;
    }
}
#bottom-footer{
    background-color: $black;
    color: $white;
    padding: 1rem 0;

    p{
        color: $white;
        line-height: 10px;
    }
    .socialIconColor{
        background-color: $white;
        width: 32px;
    }
    ul{
        display: flex;
    }

}